<div class="container">
  <div class="container__header">
    <div class="ac">
      <div class="container__option"></div>
      <div class="container__option"></div>
      <div class="container__option"></div>
    </div>
    
    <app-close-button (click)="toggleCards()" [isOpened]="isOpened"></app-close-button>
  </div>

  <div class="container__inner" *ngIf="isOpened; else itemsAreHidden">
    <div class="container__item container__item--green ac" [routerLink]="['/card', 'green']">
      PRODUCT
    </div>
    <div class="container__item container__item--yellow ac" [routerLink]="['/card', 'yellow']">
      PLANS
    </div>
    <div class="container__item container__item--purple ac" [routerLink]="['/card', 'purple']">
      BLOG
    </div>
    <div class="container__item container__item--grey ac" [routerLink]="['/card', 'grey']">
      GET UPDATES
    </div>
  </div>

  <ng-template #itemsAreHidden>
    <h3 style="color: var(--grey); margin-top: 15px;">Items are hidden</h3>
  </ng-template>
</div>