<div class="container">
  <div class="container__header">
    <div class="ac">
      <div class="container__option"></div>
      <div class="container__option"></div>
      <div class="container__option"></div>
    </div>
    
    <button class="container__option container__option--close" 
    (click)="toggleItems()">X</button>
  </div>

  <div class="container__inner" *ngIf="visible; else itemsAreHidden">
    <div class="container__item container__item--green"></div>
    <div class="container__item container__item--yellow"></div>
    <div class="container__item container__item--purple"></div>
    <div class="container__item container__item--grey"></div>
  </div>

  <ng-template #itemsAreHidden>
    <h3 style="color: var(--grey); margin-top: 15px;">Items are hidden</h3>
  </ng-template>
</div>