/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --light-grey: #8E8E98;
  --grey: #72727A;
  --dark-grey: #47474C;
  --darkest-grey: rgba(142, 142, 152, 0.2);
  --black: #000000;
  --white: #FFFFFF;
  --purple: #742EFF;

  --default-transition: 0.25s ease;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: normal;
}

.ac {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}